/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-nav-bar {
  font-size: 16px;
}
.university {
  font-weight: 800;
  font-size: 25px;
  font-style: italic;
}
.select {
  background-color: #0a1f29;
  color: whitesmoke;
  padding: 8px 20px;
  border: none;
  outline: none;
  display: none;
}
.hero-heading {
  font-size: 45px;
  color: black;
  font-weight: 700;
  width: 100%;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}
.navbar .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.hamburger span {
  width: 27px;
  height: 3px;
  background: black;
  border-radius: 3px;
} */

/* ---------- GENERAL STYLING ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.first-nav-component {
  background-color: #0a1f29;
  width: 50%;
  display: flex;
  margin-left: 570px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
}

.header-navbar-component {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

/* Remove default link underline + style */
.header-navbar-component a,
.menu a {
  text-decoration: none;
  font-weight: 500;
}

/* ===== HAMBURGER ===== */
.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 4px;
}

/* ===== MOBILE DROPDOWN ===== */
.menu {
  display: none;
  flex-direction: column;
  gap: 18px;
  background: #fff;
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 20px;
  width: 200px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.menu.show {
  display: flex;
}

/* ===== Postgradute btn ===== */
.postgraduate-btn:hover {
  background: white;
  color: rgb(168, 165, 165) !important;
}
