@media (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  /* Latest section */
  .latest-at-westbridge-container {
    flex-direction: column !important;
    padding: 20px !important;
    gap: 20px !important;
  }
  .certificate-btn-container {
    width: 100%;
  }
  .certificate-btn-container a {
    width: 100% !important;
    font-size: 15px !important;
    padding: 10px 20px !important;
  }

  /* CTA Section */
  .cta-section {
    flex-direction: column !important;
  }
  .cta-first-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .cta-para {
    text-align: center;
    font-size: 16px !important;
    font-weight: normal !important;
  }
  .cta-btn-container {
    margin: 0 auto !important;
    width: 50% !important;
    margin-top: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 900px) {
  /* General page width */
  html,
  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .first-nav-component {
    margin: 0 auto !important;
  }
  /* Hide desktop navbar links */
  .header-navbar-component {
    display: none !important;
  }
  .hamburger {
    display: flex !important;
  }
  .certificate-heading {
    font-size: 48px !important;
    width: 100% !important;
  }
  .certificate-btn-container {
    display: flex;
    flex-direction: column;
    width: 80% !important;
  }
  .find-future-container h2 {
    font-size: 30px !important;
  }
  .latest-news-and-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .undergraduate-admission-container,
  .university-library-expension,
  .student-innovation-workshop {
    width: 100%;
  }
  .call-to-action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cta-first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cta-btn-container {
    display: block !important;
    margin-top: 10px;
    margin-left: 200px !important;
    gap: 5px;
  }
  .apply-btn,
  .request-btn {
    margin: 0 auto !important;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 767px) {
  /* ***** TOP-FIRST-NAV-CONTAINER ***** */
  .first-nav-component {
    margin: 0 auto !important;
    width: 100% !important;
  }

  /* ***** HERO-HEADER-SECTION ***** */
  .hero-container-open-day {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-container-open-day img {
    width: 100% !important;
  }
  .hero-sub-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .hero-sub-container h1 {
    font-size: 35px !important;
    margin-bottom: 5px !important;
  }
  .hero-sub-container p {
    font-size: 16px !important;
    text-align: center !important;
  }
  .hero-sub-container div {
    display: flex;
    flex-direction: column;
  }

  /* ***** MORE-THEN-CERTIFICATE-SECTION ***** */
  .certificate-section-container {
    display: flex;
    flex-direction: column;
  }
  .certificate-section-container img {
    width: 100% !important;
  }
  .certificate-section-container > div {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .certificate-heading {
    text-align: center !important;
    font-size: 30px !important;
    margin-bottom: 5px !important;
  }
  .hero-para {
    text-align: center !important;
    font-size: 17px !important;
  }

  /* ***** FIND-FUTURE-SECTION ***** */
  .find-future-container {
    display: flex;
    flex-direction: column !important;
  }
  .find-future-container h2 {
    font-size: 25px !important;
  }
  .latest-at-westbridge-container {
    display: flex !important;
    flex-direction: column !important;
    padding: 5px !important;
  }

  /* ***** CTA-BTN-CONTAINER ***** */
  .cta-btn-container {
    margin: 5px auto !important;
  }
  .cta-btn-container button {
    margin-top: 5px !important;
  }
}

/* Phone and below (34rem) */
@media screen and (max-width: 34rem) {
  .hero-heading {
    font-size: 24px !important;
  }
  .hero-container {
    padding: 15px !important;
  }
  .Featured-programmes-container img {
    width: 180px !important;
  }
  .header-register-btn {
    display: none;
  }
  .select {
    display: block;
  }
  .hero-container-img {
    position: relative !important;
  }
  .hero-container-img img {
    width: 100% !important;
    box-sizing: border-box;
  }
  .hero-container {
    position: absolute !important;
    top: 470px !important;
    width: 100%;
    text-align: center !important;
  }

  .hero-heading,
  .hero-para {
    width: 90% !important;
  }
  .hero-heading {
    font-size: 19px !important;
  }
  .hero-sub-container h1 {
    margin: 0 auto !important;
    width: 100% !important;

    font-size: 33px !important;
  }
  .hero-para {
    font-size: 16px !important;
  }
  .hero-container a {
    font-size: 15px !important;
    padding: 4px 10px;
  }

  .certificate-heading {
    width: 100% !important;
  }
  /* ***** Featured Programme Section ***** */
  .Featured-programmes-container {
    margin-top: 270px !important;
    text-align: center;
    padding-bottom: 10px !important;
  }
  .Featured-programmes-container h2 {
    font-size: 18px !important;
  }
  .Featured-programmes-container > div img {
    width: 100% !important;
  }
  .Featured-programmes-container h3 {
    font-size: 15px !important;
  }
  .card-image {
    width: 100% !important;
  }
  .search-course-btn {
    font-size: 15px !important;
    padding: 4px 10px;
  }

  /* ***** NEWS & EVENT SECTION ***** */
  .news-and-event {
    margin: 0 auto !important;
    width: 100% !important;
  }
  .latest-at-westbridge-container {
    padding: 5px !important;
  }
  .news-heading {
    font-size: 19px !important;
    text-align: center;
  }
  .latest-news-and-event {
    margin: 0 auto !important;
  }
  .undergraduate-admission-container h3 {
    width: 100% !important;
    font-size: 17px !important;
  }
  .undergraduate-admission-container p {
    font-size: 14px !important;
    margin-top: -5px;
  }
  .university-library-expension h3 {
    width: 100% !important;
    font-size: 17px !important;
  }
  .university-library-expension p {
    font-size: 14px !important;
    margin-top: -5px;
  }
  .student-innovation-workshop h3 {
    width: 100% !important;
    font-size: 17px !important;
  }
  .student-innovation-workshop p {
    font-size: 14px !important;
    margin-top: -5px;
  }

  /* ***** WHY CHOOSE US SECTION ***** */
  .why-choose-container {
    text-align: center !important;
  }
  .why-choose-heading {
    font-size: 19px !important;
    text-align: center !important;
    margin: 0 auto !important;
  }
  .why-choose-container p {
    font-size: 16px !important;
    margin-top: 5px !important;
  }
  .why-choose-card h3 {
    font-size: 17px !important;
  }
  .why-choose-card p {
    font-size: 15px !important;
  }

  /* ***** STUDENT LIFE SECTION ***** */
  .student-life {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .student-life h2 {
    width: 100% !important;
    font-size: 19px !important;
    text-align: center;
  }
  .student-life p {
    font-size: 16px !important;
    text-align: center !important;
  }
  .cta-section {
    width: 100% !important;
  }
  .cta-para {
    text-align: center !important;
    font-size: 15px !important;
  }
  .student-life-container-card {
    margin: auto !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
  }
  .student-life-container-card h4 {
    font-size: 17px !important;
  }
  .student-life-container-card p {
    font-size: 15px !important;
  }

  /* ***** LATEST SECTION ***** */
  .latest-heading {
    font-size: 19px !important;
    text-align: center;
  }
  .latest-card-heading-para h3 {
    font-size: 17px !important;
  }
  .latest-card-heading-para p {
    font-size: 15px !important;
  }

  /* ***** CTA SECTION ***** */
  .cta-image {
    width: 100% !important;
  }
  .cta-first-container p {
    width: 100% !important;
    font-weight: normal !important;
    font-size: 15px !important;
  }
  .cta-btn-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
    width: 80% !important;
  }
  .cta-btn-container button {
    font-size: 15px !important;
    padding: 4px 10px;
  }

  /* ***** FOOTER SECTION ***** */
  .footer-social-icons {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: flex-start !important;
  }
}
